* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    scroll-padding-top: 7rem;
    transition: all .1s ease;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}


body::-webkit-scrollbar{
    width: .5rem;
    background-color: #FFCC33;
}

body::-webkit-scrollbar-thumb{
    background-color: #871550;
}