/*---------------------------colors---------------------*/

$primary-color: #871550;
$secondary-color: #FFCC33;
$light-gray: #EEEEEE;
$red: #ff0000;
$white: #ffffff;


/*--------------------------font---------------------*/
$primary-font: 'Philosopher', sans-serif;
$secondary-font: 'Signika', sans-serif;