@import '../../sass/breakPoints.scss';

.student-support-section {
    // border: 1px solid red;
    &>#student-support {
        // border: 1px solid red;
        padding: 3rem 0;

        &>h2 {
            text-align: center;
            color: $red;
            padding: 0 1.5rem;
            font-size: 3.5rem;
            font-weight: 400;
            font-family: $primary-font;
            // border: 1px solid red;

            @include largeMobile{
                font-size: 3rem;
            }

            @include smallMobile{
                font-size: 2.5rem;
            }
        }

        &>.features-list {
            // border: 1px solid red;
            // padding: 0 1.5rem;
            margin: 2rem 1.5rem;
            border-bottom: 1px solid #c3c3c3;

            &>li {
                background-color: transparent;
                // border: 1px solid $light-gray;
                border-left: 1px solid $light-gray;
                border-top: 1px solid $light-gray;
                border-right: 1px solid $light-gray;
                overflow: hidden;
                margin: 0;
                border-radius: .5rem .5rem 0 0;
                height: 6rem;

                &>a {
                    flex-direction: row;
                    // padding: 0 1rem;
                    justify-content: center;

                    &>figure {
                        // border: 1px solid red;
                        max-width: 4rem;
                        max-height: 4rem;
                        border-radius: 50%;

                        &>img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &>h3 {
                        // border: 1px solid red;
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: #008bb9;
                    }

                    &.active {
                        background: linear-gradient(#D0D0D0, #F9F9F9);
                        border-top: .1px solid #D0D0D0;
                        border-left: .1px solid #c3c3c3;
                        border-right: .1px solid #c3c3c3;
                        border-bottom: .1px solid transparent;
                    }
                }

                &:hover {
                    background-color: $light-gray;

                    &>a {
                        &>h3 {
                            color: #008bb9;
                        }
                    }
                }
            }
        }

        &>h3{
            // border: 1px solid red;
            text-align: center;
            margin: 2.5rem 0;
            color: $red;
            font-size: 2.4rem;
            font-weight: 400;
            font-family: $primary-font;
        }

        &>.about-guidance{
            // border: 1px solid red;
            display: flex;
            @include tablet{
                flex-direction: column;
            }
            &>figure{
                // border: 1px solid red;
                margin: 0 1.5rem;
                min-width: 30rem;
                height: 30rem;

                @include tablet{
                    margin: 0 auto;
                }
                
                &>img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &>article{
                // border: 1px solid red;
                padding: 0 1.5rem;
                min-height: 30rem;
                min-width: 30rem;

                @include tablet{
                    margin-top: 1rem;
                }

                &>p{
                    // border: 1px solid red;
                    font-size: 1.4rem;
                    // font-weight: 300;
                    line-height: 2.4rem;

                    &>a{
                        color: #008bb9;

                        &:hover{
                            color:#006688;
                            text-decoration: underline;
                        }
                    }
                }  
            }
        }
        @include otherCoursesStyle
    }
}