.placements-section {
  background-color: #EEEEEE;
  // border: 1px solid red;

  &>#placements {
    // border: 1px solid red;
    padding: 3rem 0;

    &>h2 {
      text-align: center;
      color: red;
      font-size: 3.5rem;
      font-weight: 400;
      font-family: 'Philosopher', sans-serif;
      margin-bottom: 2rem;
      // margin: 0 1rem;
      // border: 1px solid red;
    }
  }
}